# ==========================
# Required Configuration 
# ==========================

TOKEN=   
MONGO_URL=  mongodb+srv://Yukiistuff: yukipassistuff@cluster0.8smggos.mongodb.net/?appName=Cluster0
ENVIRONMENT=  "production"

# Comma-separated list of server IDs allowed to use the bot (e.g., id, id, id)
DEFAULT_ALLOWED_SERVERS=

# Comma-separated list of user IDs with elevated permissions (e.g., id, id, id)
STAFF=

# Enable or disable caching for faster server loading (true/false)
CACHE =

# The bot owner's user ID (Will give permission to jsk [DANGEROUS])
OWNER  =

# ==========================
# Optional Configuration 
# ==========================
SENTRY_URL= # https://sentry.io/
DOCKER_URL=
DOCKER_TOKEN=
DBL_TOKEN= 
BLOXLINK= # https://blox.link/
KEY= # Must be 32 characters long if using the API

# Bot Settings
PREFIX=
STATUS=

# Bot Logs
JoinChannel = 
LeaveChannel =
SHARD_CHANNEL = 

# Roblox OAuth
CLIENT_ID=
CLIENT_SECRET=

# Branding
REMOVE_EMOJIS= # Set to "True" to remove emojis, "False" otherwise
FOLDER_PATH= # Path where the bot folder is located (e.g., "/app" for Docker)

# Cloudflare R2 - https://www.cloudflare.com/products/cloudflare-r2/
# Because Discord expires images if a ticket is closed, we use Cloudflare R2 to store images. 
# (They also expire but after a longer period of time)
# We need this for transcripts to ensure that images are available for a longer duration.
ACCESS_KEY_ID = 
SECRET_ACCESS_KEY = 
R2_URL = 
R2_TOKEN = 
BUCKET = 
FILE_URL =

# ----------------------------------------